@model IEnumerable<BAL.ProductMFgpartdescription>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Itemnumber</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
     <link href="~/dist/css/custom.css" rel="stylesheet" />

</head>
<body>
<div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="custombtns">
                   
                </div>
            </div>
        </div>
        <div class="row tblmargin-top" >
            <div class="col-md-12">
                <div class="table-responsive wecntnrwrp">
                    <table id="we" class="table table-striped">


                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                               
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <span class="myClass"> @Html.DisplayFor(modelItem => item.ID)</span>
                                       
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    @*<td>
                                        @Html.ActionLink("Data  shown", "itemnumbercall", new { modelItem = item.ID })
                                    </td>*@

                                </tr>
                            }

                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#we").dataTable();
        });
        $('.table tbody').on('click', '.myClass', function () {

            var currow = $(this).closest('tr');
            var curcol = currow.find('td:eq(0)').text();
            var trimStr = $.trim(curcol);
            if (window.opener != null && !window.opener.closed) {
                var txtName = window.opener.document.getElementById("txtItemNum");
                //var txtName = window.opener.document.getElementsByClassName("sorting_1");
                txtName.value = trimStr;
                //txtName.value = document.getElementsByClassName("sorting_1").value;
            }
            window.close();
        });
    </script>
</body>
</html>
